
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/Lib/Jquery-1.12.0/jquery-1.12.0.min.js"></script>
    <script src="~/Content/webdemo/js/Web_SDK_Base_v2.1.0.js"></script>
    <script src="~/Content/webdemo/js/Web_SDK_NIM_v2.1.0.js"></script>
    <script type="text/javascript">
        var pageStart = 50;
        var pageCount = 59;
        $(function () {
            for (var i = pageStart; i <= pageCount; i++) {
                $.ajax({
                    url: "/test/getlist",
                    type: "post",
                    data: { page: i },
                    success: function (result) {
                        if (result.count == 0) {
                            return;
                        }
                        var list = result.list;
                        var count = list.length;
                        for (var j = 0; j < count; j++) {
                            var json = list[j];
                            var account = json.account;
                            var token = json.token;

                            //登录
                            var nim = NIM.getInstance({
                                appKey: '09a92fc69ae026dea1f7a0e3b4171266',
                                account: account,
                                token: token,
                                onconnect: onConnect,
                                onwillreconnect: onWillReconnect,
                                ondisconnect: onDisconnect,
                                onerror: onError
                            });
                        }
                    }
                });
            }

            var loginCount = 0;
            function onConnect() {
                console.log('连接成功');
                loginCount = loginCount + 1;
                $("#divOutput").append("登录成功" + loginCount + "<br/>");
            }
            function onWillReconnect(obj) {
                // 此时说明 SDK 已经断开连接, 请开发者在界面上提示用户连接已断开, 而且正在重新建立连接
                console.log('即将重连');
                console.log(obj.retryCount);
                console.log(obj.duration);
            }
            function onDisconnect(error) {
                // 此时说明 SDK 处于断开状态, 开发者此时应该根据错误码提示相应的错误信息, 并且跳转到登录页面
                console.log('丢失连接');
                console.log(error);
                if (error) {
                    switch (error.code) {
                        // 账号或者密码错误, 请跳转到登录页面并提示错误
                        case 302:
                            break;
                            // 被踢, 请提示错误后跳转到登录页面
                        case 'kicked':
                            break;
                        default:
                            break;
                    }
                }
            }
            function onError(error) {
                console.log(error);
            }
        });
    </script>
</head>
<body>
    <div id="divOutput"></div>
</body>
</html>
