body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:宋体;	
	background-repeat: repeat-x;
	background-image: url(../images/bj1.jpg);	
	border-width:1px; 
}

bodylogin {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:宋体;	
	background-repeat: repeat-x;
	background-image: url(../images/bj.jpg);	
	border-width:1px; 
}


table, th, td{
	font: 12px宋体;
	color: #000000;
}

a:link, a:active, a:visited{
	color: #000000;
	text-decoration: underline;
}

a:hover{
	color: #000000;
	text-decoration: underline;	
}

.topcolor {
	font: 12px宋体;
	color: #000000;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #DBDCE3;
	border-bottom-color: #DBDCE3;
}

.topcolor td {
	height: 42px;
	vertical-align: middle;
	clip: rect(auto,auto,auto,auto);
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 12px;
	background-color: #4CBBE9;
}

.topcolor select {
	color: #FFFFFF;
	font-weight: normal;
	border: 1px solid #000000;
	background-color: #ABDFF7;
}

.list {
	border-left-width: 1px;
	border-left-style: solid;
	border-top-color: #DBDCE3;
	border-left-color: #DBDCE3;
	background-color: #FDFBE7;
	font: 12px宋体;
	color: #000000;
}

.list .tdbg {
	background-color: aqua;
}

.list th {
	background-color: #DBEAF5;
	font-weight: normal;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #DBDCE3;
	border-bottom-color: #DBDCE3;
	height: 22px;
	text-indent: 0px;
	vertical-align: bottom;
	background-image: url(../images/ToolbarBG.gif);
	text-align: left;
	padding-left: 6px;
}

.list td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #F0F0F0;
	border-bottom-color: #F0F0F0;
	height: 18px;
	text-align: left;
	text-indent: 0px;
	vertical-align: middle;
	padding-left: 6px;
}

.list td input{
}

.list select {
	font-size: 12px;
}


.list a:link, a:active, a:visited{
	color: #000000;
	text-decoration: underline;
}

.list a:hover{
	color: #000000;
	text-decoration: underline;	
}

/*.buttonaround {
	border-top: 1px solid #DBDCE3;
	border-right: 1px groove #404040;
	border-bottom: 1px groove #404040;
	border-left: 1px solid #DBDCE3;
}

.buttonaround td {
	font: 10px Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: normal;
	height: 22px;
	text-indent: 8px;
	vertical-align: bottom;
	text-align: left;
	border-right: 1px groove #808080;
	border-bottom: 1px groove #808080;
	background: url(../images/buttonaround.gif);
}

.personList {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #DBDCE3;
	border-left-color: #DBDCE3;
	background-color: #FDFBE7;
	position: relative;
	font: 12px宋体;
	color: #000000;
	width:100%;
	vertical-align: bottom;
}

.personList th {
	background-color: #DBEAF5;
	font-weight: normal;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #DBDCE3;
	border-bottom-color: #DBDCE3;
	height: 22px;
	text-align: left;
	text-indent: 0px;
	vertical-align: bottom;
	white-space:nowrap;
	background-image: url(../images/ToolbarBG.gif);
	padding-left: 6px;
}


.personList td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #F0F0F0;
	border-bottom-color: #F0F0F0;
	height: 18px;
	text-align: left;
	white-space:nowrap;
	vertical-align: text-bottom;
	padding-left: 6px;
}
*/
.buttonArea {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #DBDCE3;
	border-left-color: #DBDCE3;
	background-color: #FDFBE7;
	position: relative;
	font: 12px宋体;
	color: #000000;
	width:100%;
	vertical-align: bottom;
}

.buttonArea th {
	background-color: #DBEAF5;
	font-weight: normal;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #DBDCE3;
	border-bottom-color: #DBDCE3;
	height: 22px;
	text-align: left;
	text-indent: 8px;
	vertical-align: bottom;
	white-space:nowrap;
	background-image: url(../images/menulist.gif);
}

.buttonArea td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #F0F0F0;
	border-bottom-color: #F0F0F0;
	height: 18px;
	text-align: left;
	text-indent: 8px;
	white-space:nowrap;
	vertical-align: text-bottom;
	background-image: url(../images/menulist.gif);
}


/*.retire{
	background: #cccccc;
	color: #666666;
}

.retire a:link, .retire a:active, .retire a:visited, .retire a:hover{
	color: #666666;
	text-decoration: underline;
}

#ceshi4 {
	height: 100%;
	width: 80%;
	position: relative;
	z-index: 0;
	background-color: #E9F5F7;
	overflow: visible;
	white-space: nowrap;
	font-family:宋体;
	font-size: 12px;
	padding: 8px;
	visibility: visible;
}

.hr_1px {
	color: #DBDCE3;
	width: 100%;
	height: 1px;
}
*/
#logintop {
	position: absolute;
	left: 0px;
	top: 0px;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	background-image: url(../images/livecom_h_default_ngls_str.jpg);
	width: 100%;
	height: 68px;
}
#loginbody {
	position: absolute;
	left: 0px;
	top: 0px;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	background-image: url(../images/bj.jpg);
	width: 100%;
	height: 100%;
}

#loginmain {
	position: absolute;
	height: 70%;
	width: 100%;
	left: 0px;
	top: 68px;
}
#right h1 {
	font-size: 20px;
	color: #2255AA;
}
#center {
	position: absolute;
	height: 250px;
	width: 1px;
	top: 40px;
	left: 42%;
	background-image: url(../images/dot-h.gif);
	background-repeat: repeat-y;
}

#loginmain #right form {
	margin-left: 50px;
}

#loginmain #right .login {
	background-image: url(../images/btnbkgnd_hot.gif);
	background-repeat: repeat-x;
	background-position: 1px;
	background-color: #FFFFFF;
	border: 1px solid #4A95C9;
	font-family:宋体;
	font-size: 12px;
	color: #000000;
	height: 22px;
	width: 50px;
	cursor: hand;
}
.booking_btn {
	background-image: url(../images/btnbkgnd_hot.gif);
	background-repeat: repeat-x;
	background-position: 1px;
	background-color: #FFFFFF;
	border: 1px solid #4A95C9;
	font-family:宋体;
	font-size: 12px;
	color: #000000;
	height: 22px;
	width: 50px;
	cursor: hand;
}

#loginmain #right #loginbuttondiv {
	position: relative;
	left: 55px;
	bottom: 0px;
}

/*.bgtr1{
	background-color: #ddeeff;
}

.bgtr2{
	background-color: #FFFFFF;
}

.subclass{
	background-color:#e9f5f7  
}
*/
#left {
	text-align: right;
	position: absolute;
	width: 40%;
	left: 0px;
	top: 50px;
}

#right {
	position: absolute;
	left: 45%;
	top: 50px;
	width: 55%;
	font-family:宋体;
	font-size: 12px;
	color: #000000;
}

.delete{
	background-color:#F0F0F0;
	font-family:宋体;
	font-size: 12px;
	color: #666666;
}

#foot {
	bottom: 22px;
	position: absolute;
	left: 0;
}

a.parentlink {
	text-decoration: none;
	color: #666666;
	font-size: 12px
	}
	 
a.parentlink:hover {
	color: #000000;
	}
	
a.childlink:hover {
	color: ;
	color: #000000;
	}
	
/*a.parentlink:visited,a.childlink:visited {
	color: #3a6ea5;
	}
*/

/*a.parentlink:visited,a.childlink:visited{
	color:#FF6600;
	}*/
	
a.childlink,td.childlink{
	text-decoration: none; 
	color: #666666; 
	font-size: 12px 
	}
	
.px7{
	font-size: 7px;
	vertical-align: middle;
	}

#containerul, #containerul ul{
	text-align:left;
	margin:0;				/* Removes browser default margins applied to the lists. */
	padding:0;				/* Removes browser default padding applied to the lists. */
	font-size: 12px;
}

#containerul li{
	margin:0 0 0 16px;			/* A left margin to indent the list items and give the menu a sense of structure. */
	padding:0;				/* Removes browser default padding applied to the list items. */
	list-style-type:none;			/* Removes the bullet point that usually goes next to each item in a list. */
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
}

#containerul .symbols{			/* Various styles to position the symbols next to the items in the menu. */
  float:left;
  width:12px;
  height:1em;
  background-position:0 50%;
  background-repeat:no-repeat;
}

.main {
  margin-left: 4px;
  margin-top:0px
}

#menuList {
	width:11%;
	z-index:1;
	top: 12px;
	right: 2px;
	position: absolute;
}

#menuList input {
	font-family: 宋体;
	font-size:12px;
	width: 100%;
	background: #E9F5F7;
	position: relative;
	text-align: left;
	text-indent: 10%;
	border-right: 1px solid #FOFOFO;
	border-bottom: 1px solid #FOFOFO;
}

#div_bottom {
	position:absolute;
	width:100%;
	height:50px;
	z-index:1;
	right: 0px;
	bottom: 0px;
}

#menuSwitch {
	text-align: center;
	vertical-align: bottom;
	height: 20px;
}

#scrollArea {
  width:100%;
  height:100%;
  overflow: auto
}

#scrollAreaN {
  width:100%;
  height:510px;
  overflow: auto
}

#scrollAreaS {
  width:100%;
  height:533px;
  overflow: auto
}

#szghrsIframe{
  height:533px;
}

.numInputR{
  text-align:right;
}

.numInputM{
  text-align:middle;
}

#outListDiv{
	overflow:auto;
}

#outButtonDiv{
	position:absolute;
	bottom:0px;
}

#zhengchuNum{
   background-color:#E6F1C8;
}


#neishe{
   background-color:#E6F1B8;
}

.partyRightAlign{
	text-align:right !important; 
	padding-right:5px !important;
}	